* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: wheat;
  font-size: 1.1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #666;
  width: 350px;
  height: 300px;
  color: #333;
}

#guessInput {
  background: transparent;
  margin: 1rem;
}

#guessInput:focus {
  outline: none;
}

#btn {
  padding: 12px;
  background: orangered;
  color: wheat;
  border: 2px solid orangered;
  cursor: pointer;
}

#btn:hover {
  color: #333;
}
